# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
.cache/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

UserInterfaceState.xcuserstate

pids
logs
results
tmp

# Build
dist/

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules/

# OS metadata
.DS_Store
Thumbs.db

